html {
    background: url(../images/table.png) center bottom no-repeat, url(../images/tiles.png) center top no-repeat;
    min-height:100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

body {
    background:transparent   !important;
    min-height:100%; 	
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    line-height: 1.5em;
    font-size:14px;
    font-family: Helvetica, Arial, sans-serif;
    color:#fff;
    color:rgba(255,255,255,.8); 
    font-weight: normal;
}

.thebody{
    background: url(../images/body2.png) no-repeat center;
    background-size: contain;
    width: 45%;
    height: 45%;
    position: absolute;
    left: 27%;
    top: 20%;
}

.leftFoot{
    background: url(../images/leftfoot.png) no-repeat center;
    background-size: contain;
    left: 72%;
    top: 33%;
}

.rightFoot{
    background: url(../images/rightfoot.png) no-repeat center;
    background-size: contain;
    left: 74%;
    top: 47%;
}

.limb{
    position: absolute;
    width: 70px;
    height: 70px;
    /*border: 1px solid black;*/
    z-index: 200 !important;
}

.rightLeg{
    background: url(../images/rightleg.png) no-repeat center;
    background-size: contain;
    width: 150px;
    height: 75px;
    position: absolute;
    left: 61%;
    top: 45%;
}

.leftLeg{
    background: url(../images/leftleg.png) no-repeat center;
    background-size: contain;
    width: 150px;
    height: 75px;
    position: absolute;
    left: 59%;
    top: 34%;
}

.rightArm{
    background: url(../images/rightarm.png) no-repeat center;
    background-size: contain;
    width: 250px;
    height: 100px;
    position: absolute;
    left: 37%;
    top: 49%;
}

.leftArm{ 
    background: url(../images/leftarm.png) no-repeat center;
    background-size: contain;
    width: 250px;
    height: 100px;
    position: absolute;
    left: 38%;
    top: 22%;
}

.head{
    background: url(../images/head.png) no-repeat center;
    background-size: contain;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: -65px;
    margin-top: 90px;
    /*        width: 170px;
            height: 170px;
            position: absolute;
            left: 24%;
            top: 30%;*/
}